.content.content-404 {
    padding: 3em 3em 7em;
    text-align: center;
}

.content-404-title {
    font-weight: 100;
    line-height: 1.1em;
    font-size: 2.7em;
    margin: 0 0 0.6em;
}

.content-404-description {
    margin: 0 0 2em;
}

.button.primary.home {
    font-size: 1em;
    font-weight: 100;
    display: block;
    width: 4em;
    margin: 0 auto;
}
