.content.element .medium {
    display: none;
}

.contents {
    @extend .clearfix;
}

.content-status,
.content.element .content-html {
    display: none;
}

.content-title {
    margin-bottom: .5em;
    font-size: 1.5em;
}

.content-thumb-background {
    @include background-size(cover);
    height: 13em;
    margin-bottom: 1em;
}

.tags {
    margin: 1em 0;
}

a.tag {
    margin-right: .5em;
    margin-bottom: .5em;
    color: $color-white;
    background-color: $color-tertiary;
    padding: .4em;
    margin: .2em;
    float: left;
    line-height: 1.1;
    font-size: .8em;
    border-radius: 5px;
}

.content.element {
    position: relative;
    min-height: 13em;
    border: 1px solid $color-secondary;
    padding: 0.7em;
    -webkit-box-shadow: 0 1px 1px $color-gray-20;
}

.content-author {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 0.7em;
    display: none;
}

@include breakpoint(0 599px) {

    .content-html img {
        max-width: 100%;
        max-height: 100%;
        margin: 1em auto;
    }

    .content.element {
        // border-bottom: 1px dashed $color-tertiary;
        margin-bottom: 1em;
    }
}

@include breakpoint(600px) {

    .content.element {
        float: left;
    }
}

@include breakpoint(600px 899px) {

    .content.element {
        width: 47%;
        margin: 1%;
    }
}

@include breakpoint(900px) {

    .content.element {
        width: 31%;
        margin: 1%;
        float: left;
    }
}

.content-single .content-date {
    display: none;
}

.content-single.is-type-post .content-date {
    text-align: right;
    display: block;
}
