.content .medium {
    display: none;
}

.contents {
    @extend .clearfix;
}

.content-html {
    display: none;
}

.content-title {
    margin-bottom: .5em;
    font-size: 1.5em;
}

.content-thumb-background {
    @include background-size(cover);
    height: 13em;
    margin-bottom: 1em;
}

.tags {
    margin: 1em 0;
}

a.tag {
    margin-right: .5em;
    margin-bottom: .5em;
    text-decoration: underline;
    color: $color-secondary;
}

.content {
    position: relative;
}

.content-author {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 0.7em;
    display: none;
}

@include breakpoint(0 899px) {

    .content-html img {
        max-width: 100%;
        max-height: 100%;
        margin: 1em auto;
    }

    .content {
        border-top: 1px dotted $color-secondary;
        margin-top: 1em;
        padding-top: 1em;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: 0;
        }
    }
}

@include breakpoint(900px) {

    .contents {
        @include flexcontainer($display: flex, $flexdirection: false, $flexwrap: wrap, $justifycontent: false, $alignitems: false, $aligncontent: false);
    }

    .content.is-type-post {
        @include flexchild();
        width: 30%;
        margin: 1%;
        // float: left;
        // width: 29%;
        // min-height: 16em;
        // margin: 2%;
    }
}
