.content-html img {
    @extend .clearfix;
    max-width: 100%;
    max-height: 100%;
    margin: 1em auto;
}

a.tag {
    margin-right: .5em;
    margin-bottom: .5em;
    text-decoration: underline;
    color: $color-secondary;
}

.content-date {
    // margin: 1em 0;
    // text-align: right;
}

.medium-thumb {
    max-height: 30em;
    margin-bottom: 1em;
}

.content.search .content.is-type-post,
.content.tag .content.is-type-post,
.content.post .content.is-type-post,
.content.home .content.is-type-post {
    position: relative;
    border-top: 1px dotted $color-secondary;
    margin-top: 1em;
    padding-top: 1em;

    &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
    }

    .content-title {
        margin-bottom: .5em;
        font-size: 1.5em;
        letter-spacing: 0;
    }

    .content-html {
        display: none;
    }

    .content-author {
        position: absolute;
        bottom: 1em;
        left: 1em;
        font-size: 0.7em;
        display: none;
    }

    .content-date {
    }



    .medium {
        display: none;
    }

    // .medium-thumb {
    //     text-align: center;
    // }

    .content-thumb-background {
        @include background-size(cover);
        height: 13em;
        margin-bottom: 1em;
    }
}

.tags {
    margin: 1em 0;
}






