footer.main {
    margin: 0 0 1em;
    padding: 1em;
    background: $color-white;

    .book-stack {
        @include sprite-sprite('bookstack');
        @include block-width-height('sprite/bookstack.png');
        display: block;
        margin: 0 auto;
        float: left;
    }
}

footer.main .propos {
    margin: 0 0 1em;
    padding: 0 0 0 36%;
    position: relative;

    .propos-title {
        color: green;
        font-size: 1em;
    }

    .propos-description {
        margin: 0 0 1em;
        font-size: 0.8em;
        line-height: 1.5em;
    }

    .propos-button.button.primary {
        display: block;
    }

    .propos-portrait {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
    }

    img {
        width: 100%;
    }
}

footer.main nav {
    margin: 0 0 1em;
    padding: 0 0 1em;
    border-bottom: 1px solid #ECECEC;

    a {
        border-bottom: 1px solid;
        margin: 0 0.7em 1em 0;
        font-size: 0.8em;
    }
}
