header.main {
    padding: 0 0 0.6em;
    border-bottom: 1px solid #C4C4C4;

    .button.tertiary {
        display: none;
    }

    .search {
        display: none;
    }

    .logo {
        width: 9em;
        float: left;
        display: block;
        height: auto;
        margin: 0;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

header.main .propos {
    float: right;
    width: 20%;
    padding: 0 0 0 2.5em;
    line-height: 1em;
    position: relative;

    .propos-flower {
        position: absolute;
        top: 0;
        left: 0;
        width: 2em;
        height: 3em;
        display: block;
    }

    .propos-lettering {
        font-size: 0.8em;
    }
}
