.container-header {
    @include transition(all 300ms ease);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0.7em;
    background-color: $color-primary;
}

.container-header.is-scrolling {
    padding: .3em .5em;
    // @include box-shadow(0 -2em 80px $color-black);

    .logo {
        width: 4.9em;
    }

    .header-button-mobile {
        width: 1.4em;
        height: 1.4em;
    }
}

svg {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    display: block;
    float: left;
    width: 6.8em;
    fill: $color-white;
}

@include breakpoint(0 899px) {
    
    .container-header .menu {
        display: none;
    }

    .header-button-mobile {
        cursor: pointer;
        display: block;
        float: right;
        width: 2em;
        height: 2em;
        margin: 0.3em 0 0 1em;
        fill: $color-white;
    }
}

@include breakpoint(900px) {

    .header-button-mobile {
        display: none;
    }

    .container-header .menu {
        margin-top: 0.6%;
        width: 37%;
        text-align: right;
        font-size: 1.1em;
    }

    .container-header a.menu-item {
        color: $color-white;
        font-weight: 600;
        margin-left: 6%;
    }
}

@include breakpoint(800px) {

    .container-header-inner {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}