// modules
.lightbox.media {
	@import "lightbox/media";
}

.lightbox-blackout,
.lightbox-anchor {
	z-index: 3;
	display: none;
	top: 0;
	left: 0;
	width: 100%;

	&.is-active {
		display: block;
	}

	&.is-active .lightbox {
		// is it possible to make this animate when opening?
	    // @include animation(fade-in-from-bottom 200ms ease both); 
	}
}

.lightbox-blackout {
	@include opacity(.7);
	height: 100%;
	background: $color-black;
	position: fixed;
}

.lightbox-anchor {
	position: absolute;
}

.lightbox {
	@extend .clearfix;
	@include box-shadow(0 0 3px $color-black);
	@include border-radius(3px);
	background-color: $color-white;
	position: relative;
	margin: 0 auto;
	padding: 1em;

	&.gallery {
		// min-height: 700px;
	}

	&.gallery .lightbox-content {
		float: right;
		width: 78%;
	}
	
	&.gallery .lightbox-control,
	&.gallery .lightbox-gallery {
		display: block;
	}

	&.inline .lightbox-content {
		text-align: left;
	}
}

.lightbox-title {
	font-weight: bold;
	cursor: pointer;

	&:hover {
		color: $color-primary;
	}
}

.lightbox-title-link {
	border-bottom-color: $color-primary;
	font-weight: bold;
}

.lightbox-content {
	position: relative;
	text-align: center;
	max-height: 100%;

	img {
		position: absolute;
		max-width: 100%;
		height: auto;
	}
}

.lightbox-gallery {
	border-right: 1px solid $color-secondary;
	padding: 1em;
	float: left;
	width: 16%;
	display: none;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.lightbox-gallery-item {
	@include border-radius(3px);
	border-color: $color-primary;
	display: block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin: 0.5em;
	float: left;
	border: 1px solid;
	padding: 0.7em;

	&.is-active {
		@include transform(scale(1.05));
		@include box-shadow(0 0 3px $color-secondary);
		border-color: $color-secondary;
		cursor: default;
	}
}

.lightbox-control {
    display: none;
}

.lightbox-next,
.lightbox-previous {
	@include border-radius(3px);
	@include opacity(.5);
	border: 1px solid $color-secondary;
	display: block;
	margin-top: -91px;
	text-indent: -99em;
	overflow: hidden;
	cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    position: absolute;
    bottom: 1em;

    &:hover {
		@include opacity(1);
    }

    &:active {
    	background-color: $color-gray-10;
    }
}

.lightbox-next {
    // background-image: image-url('lightbox/control-next.png');
	right: 1em;
}

.lightbox-previous {
    // background-image: image-url('lightbox/control-previous.png');
	left: 1em;
}

.lightbox-remove {
	@include border-radius(3px);
	font-weight: bold;
	font-size: 2em;
	display: block;
	width: 2em;
	height: 2em;
	text-align: center;
	position: absolute;
	top: .5em;
	right: .5em;
	line-height: 1em;
	width: 1em;
	height: 1em;
	cursor: pointer;
	z-index: 2;
	border: 1px solid $color-secondary;
	background-color: $color-white;

	&:hover,
	&:active {
		color: $color-white;
		border-color: $color-white;
	}

	&:hover {
		background-color: $color-secondary;
	}

	&:active {
		background-color: $color-secondary;
	}
}
