.media-browser {
	
	.button.attach {
		display: none;
	}

	&.change-made .button.attach {
		display: block;
	}
}

.row.media .content-media,
.media-browser .content-media {
	float: left;
	width: 14%;
	margin: 1em;
	padding: 1em;
	background: red;
	position: relative;
	height: 11em;
	overflow: hidden;
	cursor: pointer;

	&:hover {
		background-color: pink;
	}

	&.selected {
		background-color: black;
	}

	.content-media-thumb {
		text-align: center;
		display: block;
		max-height: 5em;
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}

	.content-media-title {
		font-weight: 600;
	}

	.content-media-date-published {
		position: absolute;
		bottom: 1em;
		left: 1em;
		font-style: italic;
	}

	.content-media-author {
		position: absolute;
		bottom: 1em;
		right: 1em;
	}

	.content-media-delete {
		color: red;
		font-weight: bold;
		position: absolute;
		top: 0em;
		right: 0em;
		font-size: 1.6em;
		line-height: 1em;
		display: block;
		width: 1em;
		height: 1em;
		text-align: center;
		background: #eee;
	}

	.content-media-tick {
		position: absolute;
		top: 0em;
		left: 0em;
		display: block;
		width: 1em;
		height: 1em;
		text-align: center;
		background: #F00;
	}
}
