@mixin gradient ($startColor: #eee, $endColor: white) {
    background-color: $startColor;
    background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background: -webkit-linear-gradient(top, $startColor, $endColor);
    background: -moz-linear-gradient(top, $startColor, $endColor);
    background: -ms-linear-gradient(top, $startColor, $endColor);
    background: -o-linear-gradient(top, $startColor, $endColor);
}


@mixin horizontal-gradient ($startColor: #eee, $endColor: white) {
    background-color: $startColor;
    background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(left, $startColor, $endColor);
    background-image: -moz-linear-gradient(left, $startColor, $endColor);
    background-image: -ms-linear-gradient(left, $startColor, $endColor);
    background-image: -o-linear-gradient(left, $startColor, $endColor);
}


/**
 * $duration: 300ms, $delay: 0, $ease: ease
 */
@mixin animation ($string) {
    -webkit-animation: $string;
    -moz-animation:    $string;
    -ms-animation:     $string;
}


@mixin perspective ($value: 1000) {
    -webkit-perspective:    $value;
    -moz-perspective:   $value;
    -ms-perspective:    $value;
    perspective:        $value;
}


@mixin transform-origin ($x:center, $y:center) {
    -webkit-transform-origin: $x $y;
    -moz-transform-origin:    $x $y;
    -ms-transform-origin:     $x $y;
    -o-transform-origin:      $x $y;
}


/**
 * allows generation of buttons, this can then be used to set
 * core classes like .button.primary
 * @type {[type]}
 */
@mixin button($color-background: red, $color-text: white) {
    @include border-radius(99em);
    @include text-shadow(0 -1px 0 darken($color-background, 5%));
    background-color: $color-background;
    color: $color-text;
    border-bottom-color: darken($color-background, 10%);
    border-bottom: 1px solid;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 0.1em 1em;
    display: block;
    font-family: "Arial, sans-serif";
    font-weight: bold;
    font-size: 0.9em;

    &:hover {
        background-color: lighten($color-background, 10%);
        border-bottom-color: darken($color-background, 0%);
    }

    &:active {
        background-color: darken($color-background, 10%);
        border-bottom-color: darken($color-background, 20%);
    }
}
