/**
 * $duration: 300ms, $delay: 0, $ease: ease
 * @todo needs to be replaced..
 */
@mixin animation ($string) {
    -webkit-animation: $string;
    -moz-animation:    $string;
    -ms-animation:     $string;
}


/**
 * allows generation of buttons, this can then be used to set
 */
@mixin button($color-background: $color-primary, $color-text: $color-white) {
    @include text-shadow(0 -1px 0 darken($color-background, 5%));
    background-color: $color-background;
    color: $color-text;
    border-bottom-color: darken($color-background, 10%);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 0.2em 0.7em;
    
    &:hover {
        background-color: lighten($color-background, 10%);
        border-bottom-color: darken($color-background, 0%);
    }

    &:active {
        background-color: darken($color-background, 10%);
        border-bottom-color: darken($color-background, 20%);
    }
}


/**
 * allows generation of buttons, this can then be used to set
 */
@mixin admin-button($color-background: $color-white, $color-text: $color-black) {
    @include background-image(linear-gradient(darken($color-background, 2%), darken($color-background, 4%)));
    @include border-radius(3px);
    @include text-shadow(1px 1px 0 $color-background);
    border: 1px solid darken($color-background, 15%);
    color: darken($color-background, 50%);
    padding: 0.4em 0.8em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        @include background-image(linear-gradient(darken($color-background, 1%), darken($color-background, 3%)));
        @include box-shadow(0 2px 1px darken($color-background, 5%));
        border-color: darken($color-background, 25%);
        color: darken($color-background, 70%);
        text-decoration: none;
    }

    &:active {
        @include background-image(linear-gradient(darken($color-background, 5%), darken($color-background, 7%)));
        @include box-shadow(inset 0 1px 3px darken($color-background, 10%));
    }
}
