.pagination-break-down {
        text-align: center;
        font-size: 1em;
        margin-bottom: 1em;
    }

.pagination {
        margin: 1em 0;

    a.page {
        display: none;
        border: 1px solid $color-primary;
        margin-right: 0.6em;
        margin-bottom: 0.6em;
        font-family: Arial, sans-serif;
        font-size: 1em;
        float: left;
        text-align: center;
        width: 13%;
        line-height: 1.6; 
    }

    a.is-current {
        cursor: default;
        color: $color-secondary;
        border-color: $color-secondary;
        background: transparent;
    }

    .next,
    .previous {
        width: 40%;
        padding: 0.2em 0.4em;
        background: $color-secondary;
        color: $color-white;
    }
    
    .previous {
        float: left;
    }

    .next {
        float: right;
        text-align: right;
    }
}

.pagination-title {
    display: none;
}
