.pagination-summary {
    text-align: center;
    font-size: 1em;
    margin: 0.1em 0;
}

.pagination {
    margin: 1em 0;
    font-size: .8em;
    border-top: 1px dotted $color-gray-20;
    padding: 1em 0;
    border-bottom: 1px dotted $color-gray-20;

    a.pagination-page {
        display: none;
        border: 1px solid $color-primary;
        margin-right: 0.6em;
        margin-bottom: 0.6em;
        font-family: Arial, sans-serif;
        font-size: 1em;
        float: left;
        text-align: center;
        width: 13%;
        line-height: 1.6; 
    }

    a.is-current {
        cursor: default;
        color: $color-secondary;
        border-color: $color-secondary;
        background: transparent;
    }


}

a.pagination-next,
a.pagination-previous {
    width: 30%;
    padding: 0.2em 0.4em;
    background: $color-secondary;
    color: $color-white;
    border-radius: 5px;
}

.pagination-previous {
    float: left;
}

.pagination-next {
    float: right;
    text-align: right;
}

.pagination-title {
    display: none;
}

@include breakpoint(600px) {

    a.pagination-next,
    a.pagination-previous {
        width: 15%;
    }
}
