// global
$color-white: #ffffff;
$color-gray-10: darken($color-white, 10%);
$color-gray-20: darken($color-white, 20%);
$color-gray-30: darken($color-white, 30%);
$color-gray-40: darken($color-white, 40%);
$color-gray-50: darken($color-white, 50%);
$color-gray-60: darken($color-white, 60%);
$color-gray-70: darken($color-white, 70%);
$color-gray-80: darken($color-white, 80%);
$color-gray-90: darken($color-white, 90%);
$color-black: #000000;

// project specific
$color-primary: #ca3566;
$color-primary-02: #cc6699;
$color-primary-compliment: #8c616f;
$color-secondary: #995799;
$color-secondary-compliment: #cf90a2;
$color-tertiary: #669933;
$color-tertiary-compliment: #b9d9c1;
$color-quantenary: #edddc7;

// typographic
$font-family: 'Droid Serif', 'serif';
$heading-font-family: $font-family;
$heading-font-weight: 400;
$color-text-primary: #646e77;
$color-text-tertiary: #669933;

// /admin/
$color-admin-primary: #ff5512;
$color-admin-secondary: #474747;
