.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.hide {
    display: none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.floatfix {
    position: relative;
    clear: both;
    margin-right: -20px;
}

.row {
    @extend .clearfix;
    margin: 0 0 1em;
}

.inner {
    padding: 1em;
}

.icon {
    display: block;
}

.drop {
    @include box-shadow(0 1px 3px $color-gray-40);
    @include border-radius(3px);
    border: 1px solid $color-gray-30;
    background: $color-white;
    position: absolute;
    padding: 1em;
    top: 0;
    left: 0;
}

.area {
    position: relative;
}


/**
 * js must be active for main submit buttons to hide away
 * @type {String}
 */
html.js input[type="submit"] {
    position: absolute;
    left: -999em;
    width: 1px;
    height: 1px;
}
