// app
$site-width: 800px;

// typographic
$font-family: 'Open Sans', 'sans-serif';
$heading-font-family: $font-family;
$heading-font-weight: 400;
$color-text-primary: #646e77;
$color-text-tertiary: #669933;
