@import "global";
@import "form";

.wrap {
    padding: 1em;
}

.full-width {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

body {
    background: url('../media/45degreee_fabric.png') repeat;
    font-family: /* 'Open Sans', 'Arial',  */'sans-serif';
    line-height: 1.5em;
    color: $color-typography-primary;
    background-color: $color-primary;
    font-size: 16px;
}

.button.primary {
    @include button($color-primary, $color-white);
}

.button.secondary {
    @include button($color-secondary, #42664b);
}

.logo {
    display: block;
    width: 214px;
    height: 71px;
    margin: 0 auto 30px;
    overflow: hidden;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.post {
    background: blue;

    .post-title {}

    .post-description {}

    .post-date {}

    .post-tags {}

    .post-tag {}

    .post-author {}

    @media screen and (min-width: 435px) {
        background-color: red;
    }

    @media screen and (min-width: 481px) {}

    @media screen and (min-width: 583px) {}

    @media screen and (min-width: 697px) {}

    @media screen and (min-width: 975px) {}

    @media screen and (min-width: 996px) {}

    @media screen and (min-width: 1340px) {}
}   

.top {
    display: none;
}
