@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");
@import "sprite/*.png";
@include all-sprite-sprites; 
$sprite-map: sprite-map("sprite/*.png");
@import "global";
@import "form";
@import "header";
@import "content/post";
@import "month";
@import "pagination";
@import "footer";

.wrap {
    padding: 1em;

    @media screen and (min-width: 800px) {
        width: 800px;
        margin: 0 auto;
    }
}

.full-width {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

body {
    background: url('../media/45degreee_fabric.png') repeat;
    font-family: /* 'Open Sans', 'Arial',  */'sans-serif';
    line-height: 1.5em;
    color: $color-typography-primary;
    background-color: $color-primary;
    font-size: 16px;
    font-family: 'Droid Serif', serif;
}

.button.primary {
    @include button($color-primary);
}

.button.secondary {
    @include button($color-secondary);
}

.button.tertiary {
    @include button($color-tertiary);
}

.top {
    display: none;
}
 
h1.main {
    font-size: 1.5em;
    line-height: 1.2em;
}

.content {
    margin: 0 0 2em;

    // > h1 {

    // }
}
