@import "global";
@import "form";
@import "header";
    @import "header/menu";
@import "home";
    @import "content/post";
    @import "content/single";
    @import "content/tag";
    @import "content/media";
@import "month"; 
@import "pagination";
@import "footer";
@import "404";
@import "coming-soon";

html {
    background: image-url("xv.png") repeat; 
}

body {
    color: $color-text-primary;
    font-family: Droid Serif, serif;
}

.container-site {
    padding-top: 1em;
    padding-bottom: 1em;
}

.wrap-full-width {
    width: 960px;
}

.button {
    @include button($color-primary);
}

.button.primary {
    @include button($color-primary);
}

.button.secondary {
    @include button($color-secondary);
}

.button.tertiary {
    @include button($color-tertiary);
}

.to-top {
    display: none;

    &.is-active {
        position: absolute;
        bottom: 1em;
        right: 1em;
        display: block;
        background: red;
    }
}
