.container-header {
    
    .menu {
        margin: 1em 0;
        background: #eee;
        border: 1px solid #ACACAC;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 3px #BDBDBD;
    }
    .menu-item {
        display: block;
        text-align: center;
        padding: 0.5em;
        border-top: 1px solid #ccc;
    }
    .menu-item:first-child {
        border: 0;
    }
}
