.content-post {
    height: 1.1em;
    border-top: 1px solid $color-gray-10;
    padding: 0.6em 0;

    &:hover {
        background-color: darken($color-white, 10%);
    }
    
    &.is-hidden {
        @include opacity(.5);
    }

    &.is-visible .content-post-status {
        display: none;
    }

    .content-post-title {
        margin: 0;
        float: left;
        font-size: 1em;
        font-weight: normal;
    }

    .content-post-date {
        float: right;
    }

    .content-action {
        float: right;
    }

    .content-action-link {
        margin-left: 1em;
    }

    .content-post-status {
        margin-right: 1em;
        float: right;
    }

    .content-post-html,
    .content-post-author {
        display: none;
    }
}
