/**
 * useful for quickly spacing away one off elements
 */

// all
.p0 {
    padding: 0 !important;
}

.p1 {
    padding: 1em !important;
}

// top
.pt0 {
    padding-top: 0 !important;
}

.pt05 {
    padding-top: .5em !important;
}

.pt1 {
    padding-top: 1em !important;
}

.pt0 {
    padding-top: 0 !important;
}

// right
.pr0 {
    padding-right: 0 !important;
}

.pr05 {
    padding-right: .5em !important;
}

.pr1 {
    padding-right: 1em !important;
}

.pr0 {
    padding-right: 0 !important;
}

// bottom
.pb0 {
    padding-bottom: 0 !important;
}

.pb05 {
    padding-bottom: .5em !important;
}

.pb1 {
    padding-bottom: 1em !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

// left
.pl0 {
    padding-left: 0 !important;
}

.pl05 {
    padding-left: .5em !important;
}

.pl1 {
    padding-left: 1em !important;
}

.pl0 {
    padding-left: 0 !important;
}
