// all apps
$color-white: #ffffff;
$color-gray-10: darken($color-white, 10%);
$color-gray-20: darken($color-white, 20%);
$color-gray-30: darken($color-white, 30%);
$color-gray-40: darken($color-white, 40%);
$color-gray-50: darken($color-white, 50%);
$color-gray-60: darken($color-white, 60%);
$color-gray-70: darken($color-white, 70%);
$color-gray-80: darken($color-white, 80%);
$color-gray-90: darken($color-white, 90%);
$color-black: #000000;

// project
$color-primary: #ca3566;
$color-secondary: #E5673C;
$color-tertiary: #2A9F67; 
$color-quaternary: #80CE36;
$color-quinary: black;
$color-senary: black;
$color-septenary: black;
$color-octonary: black;
$color-nonary: black;
$color-denary: black;
$color-text: #745E56;
