/**
 * compass
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/* line 5, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * sprites 
 */
/* line 56, sprite/*.png */
.sprite-sprite {
  background-image: url('../media/sprite-s6495869aa8.png');
  background-repeat: no-repeat;
}

/**
 * variables
 */
/**
 * functions
 */
/**
 * $duration: 300ms, $delay: 0, $ease: ease
 * @todo needs to be replaced..
 */
/**
 * allows generation of buttons, this can then be used to set
 */
/**
 * allows generation of buttons, this can then be used to set
 */
/**
 * predefined animation
 */
@-webkit-keyframes introducing-diva {
  /* line 3, ../sass/_keyframe.scss */
  0% {
    top: 8em;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  /* line 9, ../sass/_keyframe.scss */
  10%,
  50% {
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  /* line 14, ../sass/_keyframe.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    top: 21em;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes bubble-in {
  /* line 23, ../sass/_keyframe.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  /* line 28, ../sass/_keyframe.scss */
  80% {
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  /* line 32, ../sass/_keyframe.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes fade-in {
  /* line 40, ../sass/_keyframe.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 44, ../sass/_keyframe.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-webkit-keyframes drop-down {
  /* line 51, ../sass/_keyframe.scss */
  0% {
    -moz-transform: translate(0, -3em);
    -ms-transform: translate(0, -3em);
    -webkit-transform: translate(0, -3em);
    transform: translate(0, -3em);
  }

  /* line 55, ../sass/_keyframe.scss */
  100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes bring-in-from-right {
  /* line 62, ../sass/_keyframe.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    right: -5em;
  }

  /* line 67, ../sass/_keyframe.scss */
  20%,
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    right: 0;
  }

  /* line 73, ../sass/_keyframe.scss */
  100% {
    right: 5em;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes drop-up {
  /* line 81, ../sass/_keyframe.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate(0, 1em);
    -ms-transform: translate(0, 1em);
    -webkit-transform: translate(0, 1em);
    transform: translate(0, 1em);
  }

  /* line 86, ../sass/_keyframe.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/**
 * typographic
 */
/**
 * selection
 */
/* line 5, ../sass/_typography.scss */
::selection {
  color: white;
  /* Safari */
  background: #ca3566;
  /* Safari */
}

/* line 10, ../sass/_typography.scss */
::-moz-selection {
  color: white;
  /* Firefox */
  background: #ca3566;
  /* Firefox */
}

/**
 * links
 */
/* line 19, ../sass/_typography.scss */
a,
a:visited {
  color: #ca3566;
  text-decoration: none;
}

/* line 25, ../sass/_typography.scss */
a.hover,
a:hover,
a:focus {
  color: #cf4975;
}

/* line 35, ../sass/_typography.scss */
a:link {
  -webkit-tap-highlight-color: #e5673c;
}

/* line 39, ../sass/_typography.scss */
*:focus {
  outline: none;
}

/**
 * headings, spacing
 */
/* line 47, ../sass/_typography.scss */
.h1, .typography h1,
.h2,
.typography h2,
.h3,
.typography h3,
.h4,
.typography h4,
.search-result-description,
.h5,
.typography h5,
.h6,
.typography h6 {
  font-family: "Open Sans", "sans-serif";
  font-weight: 400;
}

/* line 57, ../sass/_typography.scss */
.h1, .typography h1,
.h2,
.typography h2 {
  line-height: 1.1;
}

/* line 62, ../sass/_typography.scss */
.h3, .typography h3, .h4, .typography h4, .search-result-description {
  line-height: 1.3;
}

/* line 66, ../sass/_typography.scss */
.h1, .typography h1 {
  font-size: 400%;
}

/* line 70, ../sass/_typography.scss */
.h2, .typography h2 {
  font-size: 250%;
}

/* line 74, ../sass/_typography.scss */
.h3, .typography h3 {
  font-size: 200%;
}

/* line 78, ../sass/_typography.scss */
.h4, .typography h4, .search-result-description {
  font-size: 180%;
}

/* line 82, ../sass/_typography.scss */
.h5, .typography h5 {
  font-size: 130%;
}

/* line 86, ../sass/_typography.scss */
.fixed, .typography pre,
.typography code {
  font-weight: inherit;
}

/* line 91, ../sass/_typography.scss */
.quiet {
  font-weight: inherit;
}

/* line 95, ../sass/_typography.scss */
.loud, .bold, .typography b, .typography strong {
  font-weight: inherit;
}

/* line 99, ../sass/_typography.scss */
.italic, .typography i,
.typography em {
  font-style: italic;
}

/* line 103, ../sass/_typography.scss */
.bold, .typography b, .typography strong {
  font-weight: 700;
}

/* line 108, ../sass/_typography.scss */
.block-margins, .typography p,
.typography ul,
.typography ol,
.typography pre {
  margin: 1em 0;
}

/* line 112, ../sass/_typography.scss */
.unordered-list, .typography ul {
  list-style-type: disc;
}

/* line 116, ../sass/_typography.scss */
.ordered-list, .typography ol {
  list-style: decimal;
}

/* line 131, ../sass/_typography.scss */
.typography h1 {
  margin: 1em 0 0.5em;
}
/* line 136, ../sass/_typography.scss */
.typography h2 {
  margin: 1em 0 0.5em;
}
/* line 141, ../sass/_typography.scss */
.typography h3 {
  margin: 1em 0 0.5em;
}
/* line 146, ../sass/_typography.scss */
.typography h4 {
  margin: 1em 0 0.5em;
}
/* line 151, ../sass/_typography.scss */
.typography h5 {
  margin: 1em 0 0.5em;
}
/* line 156, ../sass/_typography.scss */
.typography h6 {
  margin: 1em 0 0.5em;
}

/**
 * mobile first grid (testing)
 */
/*
*
* Lemonade v1.1
* Copyright 2013, Joe Richardson
* lemonade.im
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
*/
/* line 11, ../sass/vendor/_lemonade.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set the width of the grid */
/* line 22, ../sass/vendor/_lemonade.scss */
.frame {
  margin: 0 auto;
}

/* Attribute selector */
/* line 27, ../sass/vendor/_lemonade.scss */
[class*='bit-'] {
  float: left;
  padding: 0.3em;
}

/* Floats last ".bit-" to the right */
/* line 33, ../sass/vendor/_lemonade.scss */
[class*='bit-']:last-of-type {
  float: right;
}

/* Clearfix */
/* line 38, ../sass/vendor/_lemonade.scss */
.frame:after {
  content: "";
  display: table;
  clear: both;
}

/* Main Widths */
/* line 45, ../sass/vendor/_lemonade.scss */
.bit-1 {
  width: 100%;
}

/* line 46, ../sass/vendor/_lemonade.scss */
.bit-2 {
  width: 50%;
}

/* line 47, ../sass/vendor/_lemonade.scss */
.bit-3 {
  width: 33.33%;
}

/* line 48, ../sass/vendor/_lemonade.scss */
.bit-4 {
  width: 25%;
}

/* line 49, ../sass/vendor/_lemonade.scss */
.bit-5 {
  width: 20%;
}

/* line 50, ../sass/vendor/_lemonade.scss */
.bit-6 {
  width: 16.66667%;
}

/* line 51, ../sass/vendor/_lemonade.scss */
.bit-7 {
  width: 14.28571%;
}

/* line 52, ../sass/vendor/_lemonade.scss */
.bit-8 {
  width: 12.5%;
}

/* line 53, ../sass/vendor/_lemonade.scss */
.bit-9 {
  width: 11.11111%;
}

/* line 54, ../sass/vendor/_lemonade.scss */
.bit-10 {
  width: 10%;
}

/* line 55, ../sass/vendor/_lemonade.scss */
.bit-11 {
  width: 9.09091%;
}

/* line 56, ../sass/vendor/_lemonade.scss */
.bit-12 {
  width: 8.33%;
}

/* Landscape mobile & down */
@media (max-width: 30em) {
  /* line 60, ../sass/vendor/_lemonade.scss */
  .bit-1,
  .bit-2,
  .bit-3,
  .bit-4,
  .bit-5,
  .bit-6,
  .bit-7,
  .bit-8,
  .bit-9,
  .bit-10,
  .bit-11,
  .bit-12 {
    width: 100%;
  }
}
/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {
  /* line 78, ../sass/vendor/_lemonade.scss */
  .bit-4,
  .bit-6,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%;
  }

  /* line 86, ../sass/vendor/_lemonade.scss */
  .bit-1,
  .bit-2,
  .bit-3,
  .bit-5,
  .bit-7,
  .bit-9,
  .bit-11 {
    width: 100%;
  }
}
/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 68.75em) {
  /* line 99, ../sass/vendor/_lemonade.scss */
  .bit-2,
  .bit-7 {
    width: 100%;
  }

  /* line 104, ../sass/vendor/_lemonade.scss */
  .bit-4,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%;
  }
}
/**
 * handy classes
 */
/* line 1, ../sass/_reusable.scss */
.block {
  display: block;
}

/* line 5, ../sass/_reusable.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 12, ../sass/_reusable.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 19, ../sass/_reusable.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 24, ../sass/_reusable.scss */
.hide {
  display: none;
}

/* line 28, ../sass/_reusable.scss */
.invisible {
  visibility: hidden;
}

/* line 32, ../sass/_reusable.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 43, ../sass/_reusable.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 53, ../sass/_reusable.scss */
.text-left {
  text-align: left;
}

/* line 57, ../sass/_reusable.scss */
.text-center {
  text-align: center;
}

/* line 61, ../sass/_reusable.scss */
.text-right {
  text-align: right;
}

/* line 65, ../sass/_reusable.scss */
.text-size-larger {
  font-size: 1.2em;
}

/* line 69, ../sass/_reusable.scss */
.text-size-smaller {
  font-size: .8em;
}

/* line 73, ../sass/_reusable.scss */
.left {
  float: left;
}

/* line 77, ../sass/_reusable.scss */
.right {
  float: right;
}

/* line 81, ../sass/_reusable.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 86, ../sass/_reusable.scss */
.spinner {
  background: url('../media/ajax.gif?1368257192') 50% 50% no-repeat;
}
/* line 89, ../sass/_reusable.scss */
.spinner.is-tall {
  height: 80px;
}
/* line 93, ../sass/_reusable.scss */
.spinner.position-bottom-right {
  background-position: 99% 91%;
}

/* line 98, ../sass/_reusable.scss */
.current:hover {
  text-decoration: none;
}

/* line 102, ../sass/_reusable.scss */
label.top {
  display: block;
  margin: 0 0 0.8em;
  font-weight: bold;
}

/* line 109, ../sass/_reusable.scss */
.inner {
  position: relative;
  margin: 0 auto;
}

/* line 115, ../sass/_reusable.scss */
.icon {
  display: block;
  position: absolute;
}

/* line 120, ../sass/_reusable.scss */
.is-highlighted {
  font-weight: bold;
}

/* line 124, ../sass/_reusable.scss */
.is-fixed {
  position: fixed;
}

/* line 129, ../sass/_reusable.scss */
table.basic {
  margin: 1em 0;
}
/* line 132, ../sass/_reusable.scss */
table.basic th {
  font-weight: bold;
}
/* line 136, ../sass/_reusable.scss */
table.basic th,
table.basic td {
  padding: 0.5em;
  border: 1px solid #e5673c;
}

/* line 143, ../sass/_reusable.scss */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 149, ../sass/_reusable.scss */
.b0 {
  border: 0;
}

/**
 * introduced for inputs
 */
/* line 157, ../sass/_reusable.scss */
.w100 {
  width: 100%;
}

/* line 161, ../sass/_reusable.scss */
.position-relative {
  position: relative;
}

/* line 165, ../sass/_reusable.scss */
.position-absolute {
  position: absolute;
}

/* line 169, ../sass/_reusable.scss */
.position-fixed {
  position: fixed;
}

/**
 * useful for quickly spacing away one off elements
 */
/* line 6, ../sass/reusable/_margin.scss */
.m0 {
  margin: 0 !important;
}

/* line 10, ../sass/reusable/_margin.scss */
.m1 {
  margin: 1em !important;
}

/* line 15, ../sass/reusable/_margin.scss */
.mt0 {
  margin-top: 0 !important;
}

/* line 19, ../sass/reusable/_margin.scss */
.mt05 {
  margin-top: .5em !important;
}

/* line 23, ../sass/reusable/_margin.scss */
.mt1 {
  margin-top: 1em !important;
}

/* line 27, ../sass/reusable/_margin.scss */
.mt0 {
  margin-top: 0 !important;
}

/* line 32, ../sass/reusable/_margin.scss */
.mr0 {
  margin-right: 0 !important;
}

/* line 36, ../sass/reusable/_margin.scss */
.mr05 {
  margin-right: .5em !important;
}

/* line 40, ../sass/reusable/_margin.scss */
.mr1 {
  margin-right: 1em !important;
}

/* line 44, ../sass/reusable/_margin.scss */
.mr0 {
  margin-right: 0 !important;
}

/* line 49, ../sass/reusable/_margin.scss */
.mb0 {
  margin-bottom: 0 !important;
}

/* line 53, ../sass/reusable/_margin.scss */
.mb05 {
  margin-bottom: .5em !important;
}

/* line 57, ../sass/reusable/_margin.scss */
.mb1 {
  margin-bottom: 1em !important;
}

/* line 61, ../sass/reusable/_margin.scss */
.mb0 {
  margin-bottom: 0 !important;
}

/* line 66, ../sass/reusable/_margin.scss */
.ml0 {
  margin-left: 0 !important;
}

/* line 70, ../sass/reusable/_margin.scss */
.ml05 {
  margin-left: .5em !important;
}

/* line 74, ../sass/reusable/_margin.scss */
.ml1 {
  margin-left: 1em !important;
}

/* line 78, ../sass/reusable/_margin.scss */
.ml0 {
  margin-left: 0 !important;
}

/**
 * useful for quickly spacing away one off elements
 */
/* line 6, ../sass/reusable/_padding.scss */
.p0 {
  padding: 0 !important;
}

/* line 10, ../sass/reusable/_padding.scss */
.p1 {
  padding: 1em !important;
}

/* line 15, ../sass/reusable/_padding.scss */
.pt0 {
  padding-top: 0 !important;
}

/* line 19, ../sass/reusable/_padding.scss */
.pt05 {
  padding-top: .5em !important;
}

/* line 23, ../sass/reusable/_padding.scss */
.pt1 {
  padding-top: 1em !important;
}

/* line 27, ../sass/reusable/_padding.scss */
.pt0 {
  padding-top: 0 !important;
}

/* line 32, ../sass/reusable/_padding.scss */
.pr0 {
  padding-right: 0 !important;
}

/* line 36, ../sass/reusable/_padding.scss */
.pr05 {
  padding-right: .5em !important;
}

/* line 40, ../sass/reusable/_padding.scss */
.pr1 {
  padding-right: 1em !important;
}

/* line 44, ../sass/reusable/_padding.scss */
.pr0 {
  padding-right: 0 !important;
}

/* line 49, ../sass/reusable/_padding.scss */
.pb0 {
  padding-bottom: 0 !important;
}

/* line 53, ../sass/reusable/_padding.scss */
.pb05 {
  padding-bottom: .5em !important;
}

/* line 57, ../sass/reusable/_padding.scss */
.pb1 {
  padding-bottom: 1em !important;
}

/* line 61, ../sass/reusable/_padding.scss */
.pb0 {
  padding-bottom: 0 !important;
}

/* line 66, ../sass/reusable/_padding.scss */
.pl0 {
  padding-left: 0 !important;
}

/* line 70, ../sass/reusable/_padding.scss */
.pl05 {
  padding-left: .5em !important;
}

/* line 74, ../sass/reusable/_padding.scss */
.pl1 {
  padding-left: 1em !important;
}

/* line 78, ../sass/reusable/_padding.scss */
.pl0 {
  padding-left: 0 !important;
}

/* line 5, ../sass/reusable/_clearfix.scss */
.clearfix:before, .lightbox:before, .contents:before, .content-tags:before,
.clearfix:after,
.lightbox:after,
.contents:after,
.content-tags:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/reusable/_clearfix.scss */
.clearfix:after, .lightbox:after, .contents:after, .content-tags:after {
  clear: both;
}

/* line 15, ../sass/reusable/_clearfix.scss */
.clearfix, .lightbox, .contents, .content-tags {
  *zoom: 1;
}

/* line 1, ../sass/reusable/_arrow.scss */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  /* left arrow slant */
  border-right: 5px solid transparent;
  /* right arrow slant */
  border-bottom: 5px solid black;
  /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
}

/* create an arrow that points down */
/* line 12, ../sass/reusable/_arrow.scss */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  font-size: 0;
  line-height: 0;
}

/* create an arrow that points left */
/* line 23, ../sass/reusable/_arrow.scss */
.arrow-left {
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  /* left arrow slant */
  border-top: 5px solid transparent;
  /* right arrow slant */
  border-right: 5px solid black;
  /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
}

/* create an arrow that points right */
/* line 34, ../sass/reusable/_arrow.scss */
.arrow-right {
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  /* left arrow slant */
  border-top: 5px solid transparent;
  /* right arrow slant */
  border-left: 5px solid black;
  /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
}

/**
 * plugin
 */
/* line 1, ../sass/lightbox/_media.scss */
.lightbox.media .media {
  float: left;
  width: 15%;
  height: 10em;
  padding: 0.3em;
  cursor: pointer;
}
/* line 11, ../sass/lightbox/_media.scss */
.lightbox.media .media-thumb {
  display: block;
  margin-bottom: 1em;
  height: 3em;
  text-align: center;
}
/* line 18, ../sass/lightbox/_media.scss */
.lightbox.media .media-thumb img {
  height: inherit;
}
/* line 22, ../sass/lightbox/_media.scss */
.lightbox.media .media-date-published {
  display: none;
}
/* line 26, ../sass/lightbox/_media.scss */
.lightbox.media .media-author {
  display: none;
}
/* line 30, ../sass/lightbox/_media.scss */
.lightbox.media .media-delete {
  display: none;
}

/* line 6, ../sass/_lightbox.scss */
.lightbox-blackout,
.lightbox-anchor {
  z-index: 3;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 14, ../sass/_lightbox.scss */
.lightbox-blackout.is-active,
.lightbox-anchor.is-active {
  display: block;
}

/* line 24, ../sass/_lightbox.scss */
.lightbox-blackout {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  height: 100%;
  background: black;
  position: fixed;
}

/* line 31, ../sass/_lightbox.scss */
.lightbox-anchor {
  position: absolute;
}

/* line 35, ../sass/_lightbox.scss */
.lightbox {
  -moz-box-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0 3px black;
  box-shadow: 0 0 3px black;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  position: relative;
  margin: 0 auto;
  padding: 1em;
}
/* line 48, ../sass/_lightbox.scss */
.lightbox.gallery .lightbox-content {
  float: right;
  width: 78%;
}
/* line 53, ../sass/_lightbox.scss */
.lightbox.gallery .lightbox-control, .lightbox.gallery .lightbox-gallery {
  display: block;
}
/* line 58, ../sass/_lightbox.scss */
.lightbox.inline .lightbox-content {
  text-align: left;
}

/* line 63, ../sass/_lightbox.scss */
.lightbox-title {
  font-weight: bold;
  cursor: pointer;
}
/* line 67, ../sass/_lightbox.scss */
.lightbox-title:hover {
  color: #ca3566;
}

/* line 72, ../sass/_lightbox.scss */
.lightbox-title-link {
  border-bottom-color: #ca3566;
  font-weight: bold;
}

/* line 77, ../sass/_lightbox.scss */
.lightbox-content {
  position: relative;
  text-align: center;
  max-height: 100%;
}
/* line 82, ../sass/_lightbox.scss */
.lightbox-content img {
  position: absolute;
  max-width: 100%;
  height: auto;
}

/* line 89, ../sass/_lightbox.scss */
.lightbox-gallery {
  border-right: 1px solid #e5673c;
  padding: 1em;
  float: left;
  width: 16%;
  display: none;
}
/* line 96, ../sass/_lightbox.scss */
.lightbox-gallery img {
  max-width: 100%;
  max-height: 100%;
}

/* line 102, ../sass/_lightbox.scss */
.lightbox-gallery-item {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-color: #ca3566;
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0.5em;
  float: left;
  border: 1px solid;
  padding: 0.7em;
}
/* line 114, ../sass/_lightbox.scss */
.lightbox-gallery-item.is-active {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -moz-box-shadow: 0 0 3px #e5673c;
  -webkit-box-shadow: 0 0 3px #e5673c;
  box-shadow: 0 0 3px #e5673c;
  border-color: #e5673c;
  cursor: default;
}

/* line 122, ../sass/_lightbox.scss */
.lightbox-control {
  display: none;
}

/* line 126, ../sass/_lightbox.scss */
.lightbox-next,
.lightbox-previous {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  border: 1px solid #e5673c;
  display: block;
  margin-top: -91px;
  text-indent: -99em;
  overflow: hidden;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
  position: absolute;
  bottom: 1em;
}
/* line 143, ../sass/_lightbox.scss */
.lightbox-next:hover,
.lightbox-previous:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 147, ../sass/_lightbox.scss */
.lightbox-next:active,
.lightbox-previous:active {
  background-color: #e6e6e6;
}

/* line 152, ../sass/_lightbox.scss */
.lightbox-next {
  right: 1em;
}

/* line 157, ../sass/_lightbox.scss */
.lightbox-previous {
  left: 1em;
}

/* line 162, ../sass/_lightbox.scss */
.lightbox-remove {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 2em;
  display: block;
  width: 2em;
  height: 2em;
  text-align: center;
  position: absolute;
  top: .5em;
  right: .5em;
  line-height: 1em;
  width: 1em;
  height: 1em;
  cursor: pointer;
  z-index: 2;
  border: 1px solid #e5673c;
  background-color: white;
}
/* line 181, ../sass/_lightbox.scss */
.lightbox-remove:hover, .lightbox-remove:active {
  color: white;
  border-color: white;
}
/* line 187, ../sass/_lightbox.scss */
.lightbox-remove:hover {
  background-color: #e5673c;
}
/* line 191, ../sass/_lightbox.scss */
.lightbox-remove:active {
  background-color: #e5673c;
}

/**
 * where to put this?
 */
/* line 71, ../sass/_global.scss */
body {
  line-height: 1.5;
}

/**
 * placeholder
 */
/* line 4, ../sass/_form.scss */
::-webkit-input-placeholder {
  color: #b3b3b3;
}

/* line 8, ../sass/_form.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #b3b3b3;
}

/* line 12, ../sass/_form.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #b3b3b3;
}

/* line 16, ../sass/_form.scss */
:-ms-input-placeholder {
  color: #b3b3b3;
}

/* line 20, ../sass/_form.scss */
input[type="submit"] {
  position: absolute;
  left: -999em;
  width: 1px;
  height: 1px;
}

/* line 27, ../sass/_form.scss */
input {
  font-size: 1em;
}

/* line 31, ../sass/_form.scss */
input,
input[type="password"],
textarea {
  -moz-transition: border-color 300ms;
  -o-transition: border-color 300ms;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
  color: #745e56;
  font-family: "Open Sans", "sans-serif";
  border: 1px solid #b3b3b3;
  color: #745e56;
  padding: 0.4em 0.5em 0.3em;
  margin: 0;
}
/* line 42, ../sass/_form.scss */
input:focus,
input[type="password"]:focus,
textarea:focus {
  -moz-box-shadow: 0 0 3px #cccccc;
  -webkit-box-shadow: 0 0 3px #cccccc;
  box-shadow: 0 0 3px #cccccc;
  border-color: #b3b3b3;
  color: #745e56;
}

/* line 49, ../sass/_form.scss */
.row.invalid input {
  border-color: #2a9f67;
}

/* line 53, ../sass/_form.scss */
.row.invalid label {
  color: #2a9f67;
  font-weight: bold;
}

/* line 1, ../sass/_header.scss */
.container-header {
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0.7em;
  background-color: #ca3566;
}

/* line 12, ../sass/_header.scss */
.container-header.is-scrolling {
  padding: .3em .5em;
}
/* line 16, ../sass/_header.scss */
.container-header.is-scrolling .logo {
  width: 4.9em;
}
/* line 20, ../sass/_header.scss */
.container-header.is-scrolling .header-button-mobile {
  width: 1.4em;
  height: 1.4em;
}

/* line 26, ../sass/_header.scss */
svg {
  max-width: 100%;
  max-height: 100%;
}

/* line 31, ../sass/_header.scss */
.logo {
  display: block;
  float: left;
  width: 6.8em;
  fill: white;
}

@media (min-width: 0) and (max-width: 899px) {
  /* line 40, ../sass/_header.scss */
  .container-header .menu {
    display: none;
  }

  /* line 44, ../sass/_header.scss */
  .header-button-mobile {
    cursor: pointer;
    display: block;
    float: right;
    width: 2em;
    height: 2em;
    margin: 0.3em 0 0 1em;
    fill: white;
  }
}
@media (min-width: 900px) {
  /* line 57, ../sass/_header.scss */
  .header-button-mobile {
    display: none;
  }

  /* line 61, ../sass/_header.scss */
  .container-header .menu {
    margin-top: 0.6%;
    width: 37%;
    text-align: right;
  }

  /* line 67, ../sass/_header.scss */
  .container-header a.menu-item {
    color: white;
    font-weight: 600;
    margin-left: 3%;
  }
}
@media (min-width: 1000px) {
  /* line 76, ../sass/_header.scss */
  .container-header-inner {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 1, ../sass/header/_menu.scss */
.container-header .menu {
  float: right;
  margin-top: 0.2em;
}

/* line 6, ../sass/header/_menu.scss */
.container-header .menu-item {
  margin-left: .5em;
}

/* line 1, ../sass/_home.scss */
.content.home .home-all-posts {
  display: block;
}

/* line 1, ../sass/_search.scss */
.form-search-label {
  display: none;
}

@media (min-width: 0) and (max-width: 899px) {
  /* line 7, ../sass/_search.scss */
  .container-header .form-search {
    display: none;
  }

  /* line 11, ../sass/_search.scss */
  .container-footer .form-search {
    margin: 1em 0;
  }

  /* line 17, ../sass/_search.scss */
  .container-footer .form-search-query {
    width: 70%;
  }
  /* line 21, ../sass/_search.scss */
  .container-footer .submit.button {
    float: right;
    width: 27%;
    padding: 4px;
  }
}
@media (min-width: 900px) {
  /* line 31, ../sass/_search.scss */
  .container-header .form-search {
    float: right;
  }

  /* line 35, ../sass/_search.scss */
  .container-footer .form-search {
    display: none;
  }
}
/* line 1, ../sass/_content.scss */
.content.element .medium {
  display: none;
}

/* line 9, ../sass/_content.scss */
.content-status,
.content.element .content-html {
  display: none;
}

/* line 14, ../sass/_content.scss */
.content-title {
  margin-bottom: .5em;
  font-size: 1.5em;
}

/* line 19, ../sass/_content.scss */
.content-thumb-background {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 13em;
  margin-bottom: 1em;
}

/* line 25, ../sass/_content.scss */
.tags {
  margin: 1em 0;
}

/* line 29, ../sass/_content.scss */
a.tag {
  margin-right: .5em;
  margin-bottom: .5em;
  text-decoration: underline;
  color: #e5673c;
}

/* line 36, ../sass/_content.scss */
.content.element {
  position: relative;
  min-height: 13em;
}

/* line 42, ../sass/_content.scss */
.content-author {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.7em;
  display: none;
}

@media (min-width: 0) and (max-width: 899px) {
  /* line 52, ../sass/_content.scss */
  .content-html img {
    max-width: 100%;
    max-height: 100%;
    margin: 1em auto;
  }

  /* line 58, ../sass/_content.scss */
  .content.element {
    border-bottom: 1px dashed #2a9f67;
    margin-bottom: 2em;
  }
}
@media (min-width: 900px) {
  /* line 66, ../sass/_content.scss */
  .contents {
    /*  values:
        $display: flex | inline-flex
        $flexdirection: row(default) | row-reverse | column | column-reverse
        $flexwrap: nowrap(default) | wrap | wrap-reverse
        $justifycontent: flex-start(default) | flex-end | center | space-between | space-around
        $alignitems: flex-start | flex-end | center | baseline | stretch (default)
        $aligncontent: flex-start | flex-end | center | space-between | space-around | stretch (default)
    */
  }
  /* line 10, ../sass/vendor/_flexbox.scss */
  .flexboxlegacy.no-flexbox .contents {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
  }
  /* line 16, ../sass/vendor/_flexbox.scss */
  .flexbox .contents {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* line 70, ../sass/_content.scss */
  .content.element {
    width: 30%;
    margin: 1%;
  }
  /* line 38, ../sass/vendor/_flexbox.scss */
  .flexboxlegacy.no-flexbox .content.element {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-box-flex: 0;
    box-flex: 0;
    max-width: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
  }
  /* line 44, ../sass/vendor/_flexbox.scss */
  .flexbox .content.element {
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
}
/* line 1, ../sass/content/_single.scss */
.content-single-title {
  font-size: 2.2em;
  margin-bottom: 0.6em;
}

/* line 6, ../sass/content/_single.scss */
.content-single .content-post-html {
  margin: 1em 0;
}

/* line 10, ../sass/content/_single.scss */
.content-single .content-post-author {
  float: left;
}

/* line 14, ../sass/content/_single.scss */
.content-single .content-post-date {
  float: right;
}

/* line 1, ../sass/content/_tag.scss */
.content-tags {
  margin: 0 0 1em;
}

/* line 6, ../sass/content/_tag.scss */
a.content-tag {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: left;
  line-height: 0;
  font-family: "Arial, sans-serif";
  border: 1px solid #DFDFDF;
  background: #F3F3F3;
  color: #9B9B9B;
  font-size: 12px;
  padding: 1em 0.5em;
  margin: 0 0.6em 0.6em 0;
}

/* line 21, ../sass/content/_tag.scss */
.content-tags-all a.content-tag {
  font-size: 1em;
  margin: 0 0.3em 0.3em 0;
  padding: 0.7em 0.5em;
}

/* line 1, ../sass/_medium.scss */
.medium-thumb-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 10, ../sass/_medium.scss */
.medium-date-published,
.medium-tick,
.medium-delete,
.medium-title {
  display: none;
}

/* line 1, ../sass/_month.scss */
.months {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}
/* line 6, ../sass/_month.scss */
.months .month-total {
  border: 1px solid #bdbdbd;
  border-radius: 99em;
  width: 2em;
  height: inherit;
  display: block;
  position: absolute;
  top: 0.5em;
  right: 0;
  font-size: 0.7em;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  padding: 0.5em 0;
  cursor: default;
  background: #F1F1F1;
  color: #979797;
}
/* line 25, ../sass/_month.scss */
.months .month {
  position: relative;
}
/* line 29, ../sass/_month.scss */
.months .month-link {
  font-size: 0.8em;
  border-top: 1px solid #d5d5d5;
  padding: 0.4em 0;
  display: block;
}
@media screen and (max-width: 450px) {
  /* line 38, ../sass/_month.scss */
  .months .month:first-of-type .month-link {
    border-top: none;
  }
}
@media screen and (min-width: 450px) {
  /* line 1, ../sass/_month.scss */
  .months {
    margin: 0;
  }
  /* line 46, ../sass/_month.scss */
  .months .month-total {
    top: 1em;
    right: 1em;
  }
  /* line 51, ../sass/_month.scss */
  .months .month-link {
    background: white;
    border: none;
    float: left;
    width: 44.9%;
    margin: 0.3em;
    border: 1px solid;
    padding: 0.4em;
    position: relative;
  }
}

/* line 1, ../sass/_pagination.scss */
.pagination-break-down {
  text-align: center;
  font-size: 1em;
  margin-bottom: 1em;
}

/* line 7, ../sass/_pagination.scss */
.pagination {
  margin: 1em 0;
}
/* line 10, ../sass/_pagination.scss */
.pagination a.page {
  display: none;
  border: 1px solid #ca3566;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
  font-family: Arial, sans-serif;
  font-size: 1em;
  float: left;
  text-align: center;
  width: 13%;
  line-height: 1.6;
}
/* line 23, ../sass/_pagination.scss */
.pagination a.is-current {
  cursor: default;
  color: #e5673c;
  border-color: #e5673c;
  background: transparent;
}
/* line 30, ../sass/_pagination.scss */
.pagination .next,
.pagination .previous {
  width: 40%;
  padding: 0.2em 0.4em;
  background: #e5673c;
  color: white;
}
/* line 38, ../sass/_pagination.scss */
.pagination .previous {
  float: left;
}
/* line 42, ../sass/_pagination.scss */
.pagination .next {
  float: right;
  text-align: right;
}

/* line 48, ../sass/_pagination.scss */
.pagination-title {
  display: none;
}

/* line 1, ../sass/_footer.scss */
.container-footer {
    /* 
@include sprite-sprite('bookstack');
@include image-size('sprite/bookstack.png');
display: block;
margin: 0 auto;
float: left;
     */
}
/* line 3, ../sass/_footer.scss */
.container-footer .propos-portrait {
  width: 30%;
}
/* line 7, ../sass/_footer.scss */
.container-footer img {
  width: 100%;
}

/* line 20, ../sass/_footer.scss */
.container-footer .propos {
  margin: 0 0 1em;
  padding: 0 0 0 36%;
  position: relative;
}
/* line 27, ../sass/_footer.scss */
.container-footer .propos .propos-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 0) and (max-width: 899px) {
  /* line 40, ../sass/_footer.scss */
  .container-footer .menu {
    margin: 1em 0;
  }
  /* line 45, ../sass/_footer.scss */
  .container-footer .menu-item:first-child {
    border: 0;
  }
  /* line 49, ../sass/_footer.scss */
  .container-footer .menu-item {
    display: block;
    text-align: center;
    padding: 0.5em;
    background-color: #ca3566;
    color: white;
    border-top: 1px solid white;
  }
  /* line 58, ../sass/_footer.scss */
  .container-footer .menu-item:first-child {
    border: 0;
  }
}
/* line 66, ../sass/_footer.scss */
.container-footer .calling-card {
  margin: 1em 0;
}
/* line 70, ../sass/_footer.scss */
.container-footer .calling-card-portrait {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 9em;
  border-radius: 99em;
  overflow: hidden;
  height: 9em;
}
/* line 80, ../sass/_footer.scss */
.container-footer .calling-card-content-title {
  font-size: 1.3em;
}
/* line 84, ../sass/_footer.scss */
.container-footer .calling-card-content-button.button.primary {
  float: left;
}
/* line 88, ../sass/_footer.scss */
.container-footer .calling-card-content-description {
  margin-bottom: 1em;
}

/* line 1, ../sass/_404.scss */
.content.content-404 {
  padding: 3em 3em 7em;
  text-align: center;
}

/* line 6, ../sass/_404.scss */
.content-404-title {
  font-weight: 100;
  line-height: 1.1em;
  font-size: 2.7em;
  margin: 0 0 0.6em;
}

/* line 13, ../sass/_404.scss */
.content-404-description {
  margin: 0 0 2em;
}

/* line 17, ../sass/_404.scss */
.button.primary.home {
  font-size: 1em;
  font-weight: 100;
  display: block;
  width: 4em;
  margin: 0 auto;
}

/* line 1, ../sass/_coming-soon.scss */
.coming-soon-container {
  margin: 4em auto;
  padding: 0 1em;
  max-width: 16em;
}

/* line 6, ../sass/_coming-soon.scss */
.content.coming-soon .logo {
  display: block;
  margin: 0 0 2em;
}

/* line 10, ../sass/_coming-soon.scss */
.content.coming-soon .logo img {
  max-width: 100%;
}

/* line 13, ../sass/_coming-soon.scss */
.description {
  font-size: 21px;
  color: #d1b3d5;
  border: 1px solid;
  display: block;
  padding: 1em;
  max-width: 240px;
}

/* line 21, ../sass/screen.scss */
body {
  color: #745e56;
  font-family: "Open Sans", "sans-serif";
}

/* line 26, ../sass/screen.scss */
.container-site {
  margin-top: 4.1em;
  padding: 1em;
}

@media (min-width: 1000px) {
  /* line 33, ../sass/screen.scss */
  .container-site {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 44, ../sass/screen.scss */
.button {
  text-shadow: 0 -1px 0 #b6305c;
  background-color: #ca3566;
  color: white;
  border-bottom-color: #a22a52;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0.2em 0.7em;
}
/* line 25, ../sass/_mixin.scss */
.button:hover {
  background-color: #d55d85;
  border-bottom-color: #ca3566;
}
/* line 30, ../sass/_mixin.scss */
.button:active {
  background-color: #a22a52;
  border-bottom-color: #79203d;
}

/* line 48, ../sass/screen.scss */
.button-primary,
.button.primary {
  text-shadow: 0 -1px 0 #b6305c;
  background-color: #ca3566;
  color: white;
  border-bottom-color: #a22a52;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0.2em 0.7em;
}
/* line 25, ../sass/_mixin.scss */
.button-primary:hover,
.button.primary:hover {
  background-color: #d55d85;
  border-bottom-color: #ca3566;
}
/* line 30, ../sass/_mixin.scss */
.button-primary:active,
.button.primary:active {
  background-color: #a22a52;
  border-bottom-color: #79203d;
}

/* line 53, ../sass/screen.scss */
.button-secondary,
.button.secondary {
  text-shadow: 0 -1px 0 #e25525;
  background-color: #e5673c;
  color: white;
  border-bottom-color: #d24a1c;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0.2em 0.7em;
}
/* line 25, ../sass/_mixin.scss */
.button-secondary:hover,
.button.secondary:hover {
  background-color: #eb8a69;
  border-bottom-color: #e5673c;
}
/* line 30, ../sass/_mixin.scss */
.button-secondary:active,
.button.secondary:active {
  background-color: #d24a1c;
  border-bottom-color: #a53a16;
}

/* line 58, ../sass/screen.scss */
.button-tertiary,
.button.tertiary {
  text-shadow: 0 -1px 0 #258b5a;
  background-color: #2a9f67;
  color: white;
  border-bottom-color: #1f774d;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0.2em 0.7em;
}
/* line 25, ../sass/_mixin.scss */
.button-tertiary:hover,
.button.tertiary:hover {
  background-color: #35c781;
  border-bottom-color: #2a9f67;
}
/* line 30, ../sass/_mixin.scss */
.button-tertiary:active,
.button.tertiary:active {
  background-color: #1f774d;
  border-bottom-color: #154e33;
}

/* line 63, ../sass/screen.scss */
.to-top {
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  position: fixed;
  bottom: 1em;
  right: -2em;
  width: 1.5em;
  height: 1.5em;
  z-index: 1;
  fill: #ca3566;
}
/* line 73, ../sass/screen.scss */
.to-top.is-active {
  display: block;
  right: 1em;
}

/* line 79, ../sass/screen.scss */
.core-h1 {
  text-shadow: 1px 1px #745e56;
  text-align: center;
  padding: 0.3em;
  background-color: #ca3566;
  color: white;
  border-bottom: 1px solid #e5673c;
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 90, ../sass/screen.scss */
.search-result-description {
  margin-bottom: 1em;
}
