@import "content/tag";
@import "content/media";

.content-post {
    @include box-shadow(0 1px 0 $color-gray-50);
    border: 1px solid $color-gray-10;
    background: $color-white;
    position: relative;
    padding: 1em;
    margin-bottom: 1em;

    .content-post-title {
        margin-top: 0;
        font-weight: 400;
        font-size: 23px;
        line-height: 1.3em;
    }

    .content-post-html {
        display: none;
    }

    .content-post-date {
        position: absolute;
        font-style: normal;
        font-size: 0.8em;
        bottom: 16px;  
        right: 16px;
        letter-spacing: 1px;
        color: #A8A8A8;
    }

    .content-post-author {
        position: absolute;
        bottom: 1em;
        left: 1em;
        font-size: 0.7em;

        display: none;
    }

    .content-thumb {
        display: block;
        text-align: center;
        overflow: hidden;
        margin: 0 0 1em;
        border-radius: 3px;

        img {
            width: 100%;
        }
    }

    @media screen and (min-width: 660px) {
        float: left;
        width: 41.2%;
        margin: 0.6em;
        height: 20em;
    }

    @media screen and (min-width: 975px) {}

    @media screen and (min-width: 996px) {}

    @media screen and (min-width: 1340px) {}
}   
