.content-single .content-single-title {
    font-size: 2.2em;
    margin-bottom: 0.6em;
}

.content-single .content-post-html {
    margin: 2em 0;
}

.content-single .content-post-author {
    float: left;
}

.content-single .content-post-date {
    float: right;
}
