@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");
/* line 17, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * accepts a path and sets 
 */
/**
 * $duration: 300ms, $delay: 0, $ease: ease
 * @todo needs to be replaced..
 */
/**
 * allows generation of buttons, this can then be used to set
 */
@-webkit-keyframes introducing-diva {
  /* line 3, ../../sass/_keyframe.scss */
  0% {
    top: 8em;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  /* line 10, ../../sass/_keyframe.scss */
  10%,
  50% {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  /* line 14, ../../sass/_keyframe.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    top: 21em;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes bubble-in {
  /* line 23, ../../sass/_keyframe.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  /* line 28, ../../sass/_keyframe.scss */
  80% {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  /* line 32, ../../sass/_keyframe.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes fade-in {
  /* line 40, ../../sass/_keyframe.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 44, ../../sass/_keyframe.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

@-webkit-keyframes drop-down {
  /* line 51, ../../sass/_keyframe.scss */
  0% {
    -webkit-transform: translate(0, -3em);
    -moz-transform: translate(0, -3em);
    -ms-transform: translate(0, -3em);
    -o-transform: translate(0, -3em);
    transform: translate(0, -3em);
  }

  /* line 55, ../../sass/_keyframe.scss */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes bring-in-from-right {
  /* line 62, ../../sass/_keyframe.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    right: -5em;
  }

  /* line 68, ../../sass/_keyframe.scss */
  20%,
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    right: 0;
  }

  /* line 73, ../../sass/_keyframe.scss */
  100% {
    right: 5em;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

/* line 4, ../../sass/_typography.scss */
::selection {
  background: #ffb7b7;
  /* Safari */
}

/* line 8, ../../sass/_typography.scss */
::-moz-selection {
  background: #ffb7b7;
  /* Firefox */
}

/* line 12, ../../sass/_typography.scss */
::-webkit-input-placeholder {
  color: #995799;
}

/* line 16, ../../sass/_typography.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #995799;
}

/* line 20, ../../sass/_typography.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #995799;
}

/* line 24, ../../sass/_typography.scss */
:-ms-input-placeholder {
  color: #995799;
}

/* line 29, ../../sass/_typography.scss */
a,
a:visited {
  color: #ca3566;
  text-decoration: none;
}

/* line 36, ../../sass/_typography.scss */
a.hover,
a:hover,
a:focus {
  color: #cf4975;
}

/* line 44, ../../sass/_typography.scss */
a:link {
  -webkit-tap-highlight-color: #995799;
}

/* line 48, ../../sass/_typography.scss */
*:focus {
  outline: none;
}

/* line 58, ../../sass/_typography.scss */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

/* line 1, ../../sass/_reusable.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 8, ../../sass/_reusable.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 15, ../../sass/_reusable.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 20, ../../sass/_reusable.scss */
.hide {
  display: none;
}

/* line 24, ../../sass/_reusable.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 35, ../../sass/_reusable.scss */
.text-left {
  text-align: left;
}

/* line 39, ../../sass/_reusable.scss */
.text-center {
  text-align: center;
}

/* line 43, ../../sass/_reusable.scss */
.text-right {
  text-align: right;
}

/* line 48, ../../sass/_reusable.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 57, ../../sass/_reusable.scss */
.invisible {
  visibility: hidden;
}

/* line 61, ../../sass/_reusable.scss */
.left {
  float: left;
}

/* line 65, ../../sass/_reusable.scss */
.right {
  float: right;
}

/* line 70, ../../sass/_reusable.scss */
.clearfix:before, .row:before, .lightbox:before,
.clearfix:after,
.row:after,
.lightbox:after {
  content: " ";
  display: table;
}

/* line 75, ../../sass/_reusable.scss */
.clearfix:after, .row:after, .lightbox:after {
  clear: both;
}

/* line 79, ../../sass/_reusable.scss */
.clearfix, .row, .lightbox {
  *zoom: 1;
}

/* line 83, ../../sass/_reusable.scss */
.floatfix {
  position: relative;
  clear: both;
  margin-right: -20px;
}

/* line 89, ../../sass/_reusable.scss */
.row {
  margin-top: 1em;
}

/* line 94, ../../sass/_reusable.scss */
.icon {
  display: block;
}

/* line 98, ../../sass/_reusable.scss */
.drop {
  -webkit-box-shadow: 0 1px 3px #999999;
  -moz-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  background: white;
  position: absolute;
  padding: 1em;
  top: 0;
  left: 0;
}

/* line 109, ../../sass/_reusable.scss */
.area {
  position: relative;
}

/**
 * js must be active for main submit buttons to hide away
 * @type {String}
 */
/* line 118, ../../sass/_reusable.scss */
html.js input[type="submit"] {
  position: absolute;
  left: -999em;
  width: 1px;
  height: 1px;
}

/* line 125, ../../sass/_reusable.scss */
.wrap-full-width {
  position: relative;
  margin: 0 auto;
}

/* line 130, ../../sass/_reusable.scss */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 136, ../../sass/_reusable.scss */
.is-fixed-top {
  -webkit-box-shadow: 0 1px 3px gray;
  -moz-box-shadow: 0 1px 3px gray;
  box-shadow: 0 1px 3px gray;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: fixed;
}

/* line 145, ../../sass/_reusable.scss */
.ajax {
  background-image: url('/claireruth/media/ajax.gif?1368257192');
}

/* line 2, ../../sass/_lightbox.scss */
.lightbox-blackout,
.lightbox-anchor {
  z-index: 3;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 9, ../../sass/_lightbox.scss */
.lightbox-blackout.is-active,
.lightbox-anchor.is-active {
  display: block;
}

/* line 19, ../../sass/_lightbox.scss */
.lightbox-blackout {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  height: 100%;
  background: black;
  position: fixed;
}

/* line 26, ../../sass/_lightbox.scss */
.lightbox-anchor {
  position: absolute;
}

/* line 30, ../../sass/_lightbox.scss */
.lightbox {
  -webkit-box-shadow: 0 0 3px black;
  -moz-box-shadow: 0 0 3px black;
  box-shadow: 0 0 3px black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  position: relative;
  margin: 0 auto;
  padding: 1em;
}
/* line 43, ../../sass/_lightbox.scss */
.lightbox.gallery .lightbox-content {
  float: right;
  width: 78%;
}
/* line 49, ../../sass/_lightbox.scss */
.lightbox.gallery .lightbox-control, .lightbox.gallery .lightbox-gallery {
  display: block;
}
/* line 53, ../../sass/_lightbox.scss */
.lightbox.inline .lightbox-content {
  text-align: left;
}

/* line 58, ../../sass/_lightbox.scss */
.lightbox-title {
  font-weight: bold;
  cursor: pointer;
}
/* line 62, ../../sass/_lightbox.scss */
.lightbox-title:hover {
  color: #ca3566;
}

/* line 67, ../../sass/_lightbox.scss */
.lightbox-title-link {
  border-bottom-color: #ca3566;
  font-weight: bold;
}

/* line 72, ../../sass/_lightbox.scss */
.lightbox-content {
  position: relative;
  text-align: center;
  max-height: 100%;
}
/* line 77, ../../sass/_lightbox.scss */
.lightbox-content img {
  position: absolute;
  max-width: 100%;
  height: auto;
}

/* line 84, ../../sass/_lightbox.scss */
.lightbox-gallery {
  border-right: 1px solid #995799;
  padding: 1em;
  float: left;
  width: 16%;
  display: none;
}
/* line 91, ../../sass/_lightbox.scss */
.lightbox-gallery img {
  max-width: 100%;
  max-height: 100%;
}

/* line 97, ../../sass/_lightbox.scss */
.lightbox-gallery-item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: #ca3566;
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0.5em;
  float: left;
  border: 1px solid;
  padding: 0.7em;
}
/* line 109, ../../sass/_lightbox.scss */
.lightbox-gallery-item.is-active {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 0 3px #995799;
  -moz-box-shadow: 0 0 3px #995799;
  box-shadow: 0 0 3px #995799;
  border-color: #995799;
  cursor: default;
}

/* line 117, ../../sass/_lightbox.scss */
.lightbox-control {
  display: none;
}

/* line 122, ../../sass/_lightbox.scss */
.lightbox-next,
.lightbox-previous {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  border: 1px solid #995799;
  display: block;
  margin-top: -91px;
  text-indent: -99em;
  overflow: hidden;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
  position: absolute;
  bottom: 1em;
}
/* line 138, ../../sass/_lightbox.scss */
.lightbox-next:hover,
.lightbox-previous:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 142, ../../sass/_lightbox.scss */
.lightbox-next:active,
.lightbox-previous:active {
  background-color: #e6e6e6;
}

/* line 147, ../../sass/_lightbox.scss */
.lightbox-next {
  right: 1em;
}

/* line 152, ../../sass/_lightbox.scss */
.lightbox-previous {
  left: 1em;
}

/* line 157, ../../sass/_lightbox.scss */
.lightbox-remove {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 2em;
  display: block;
  width: 2em;
  height: 2em;
  text-align: center;
  position: absolute;
  top: .5em;
  right: .5em;
  line-height: 1em;
  width: 1em;
  height: 1em;
  cursor: pointer;
  z-index: 2;
  border: 1px solid #cf90a2;
  background-color: white;
}
/* line 177, ../../sass/_lightbox.scss */
.lightbox-remove:hover, .lightbox-remove:active {
  color: white;
  border-color: white;
}
/* line 182, ../../sass/_lightbox.scss */
.lightbox-remove:hover {
  background-color: #cf90a2;
}
/* line 186, ../../sass/_lightbox.scss */
.lightbox-remove:active {
  background-color: #995799;
}

/* line 1, ../../sass/admin/_header.scss */
header.main {
  border-bottom: 1px solid #e6e6e6;
}
/* line 4, ../../sass/admin/_header.scss */
header.main .feedback-container {
  margin: 0;
}

/* line 9, ../../sass/admin/_header.scss */
header.main.is-fixed-top {
  background-color: white;
}

/* line 13, ../../sass/admin/_header.scss */
header.main.is-fixed-top + .content {
  padding-top: 111px;
}

/* line 17, ../../sass/admin/_header.scss */
.inner-title-nav-user {
  padding: 0.4em 0;
}

/* line 21, ../../sass/admin/_header.scss */
.header-site-title {
  float: left;
  width: 20%;
  margin-right: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 30, ../../sass/admin/_header.scss */
.nav-main-container {
  float: left;
}

/* line 34, ../../sass/admin/_header.scss */
.nav-user {
  float: right;
}

/* line 38, ../../sass/admin/_header.scss */
.nav-main-level1 {
  float: left;
  position: relative;
  margin: 0 1.6em 0 0;
}
/* line 43, ../../sass/admin/_header.scss */
.nav-main-level1:hover .nav-main-level1-drop {
  display: block;
}

/* line 48, ../../sass/admin/_header.scss */
.drop.nav-user-drop {
  display: none;
}

/* line 52, ../../sass/admin/_header.scss */
.nav-main-level1-drop {
  background: white;
  display: none;
  position: absolute;
  width: 9em;
  border: 1px solid #e6e6e6;
  border-top: none;
  top: 1.5em;
  -webkit-box-shadow: 0 1px 2px;
  padding: 1em 0;
}

/* line 64, ../../sass/admin/_header.scss */
.nav-main-level2-link {
  display: block;
  padding: 0 1em 0.4em;
}

/* line 1, ../../sass/admin/content/_post.scss */
.content-post {
  border-top: 1px solid;
  padding: 0.4em 0;
  height: 1.1em;
}
/* line 6, ../../sass/admin/content/_post.scss */
.content-post .content-post-title {
  margin: 0;
  float: left;
  font-size: 1em;
  font-weight: normal;
}
/* line 13, ../../sass/admin/content/_post.scss */
.content-post .content-post-date {
  float: right;
}
/* line 17, ../../sass/admin/content/_post.scss */
.content-post .content-action {
  float: right;
}
/* line 21, ../../sass/admin/content/_post.scss */
.content-post .content-action-link {
  margin-left: 1em;
}
/* line 25, ../../sass/admin/content/_post.scss */
.content-post .content-post-status {
  float: right;
}
/* line 29, ../../sass/admin/content/_post.scss */
.content-post .content-post-author {
  display: none;
}

/* line 3, ../../sass/admin/_media-browser.scss */
.media-browser .button.attach {
  display: none;
}
/* line 7, ../../sass/admin/_media-browser.scss */
.media-browser.change-made .button.attach {
  display: block;
}

/* line 13, ../../sass/admin/_media-browser.scss */
.row.media .content-media,
.media-browser .content-media {
  float: left;
  width: 14%;
  margin: 1em;
  padding: 1em;
  background: red;
  position: relative;
  height: 11em;
  overflow: hidden;
  cursor: pointer;
}
/* line 24, ../../sass/admin/_media-browser.scss */
.row.media .content-media:hover,
.media-browser .content-media:hover {
  background-color: pink;
}
/* line 28, ../../sass/admin/_media-browser.scss */
.row.media .content-media.selected,
.media-browser .content-media.selected {
  background-color: black;
}
/* line 32, ../../sass/admin/_media-browser.scss */
.row.media .content-media .content-media-thumb,
.media-browser .content-media .content-media-thumb {
  text-align: center;
  display: block;
  max-height: 5em;
}
/* line 38, ../../sass/admin/_media-browser.scss */
.row.media .content-media img,
.media-browser .content-media img {
  max-width: 100%;
  max-height: 100%;
}
/* line 43, ../../sass/admin/_media-browser.scss */
.row.media .content-media .content-media-title,
.media-browser .content-media .content-media-title {
  font-weight: 600;
}
/* line 47, ../../sass/admin/_media-browser.scss */
.row.media .content-media .content-media-date-published,
.media-browser .content-media .content-media-date-published {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-style: italic;
}
/* line 54, ../../sass/admin/_media-browser.scss */
.row.media .content-media .content-media-author,
.media-browser .content-media .content-media-author {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
/* line 60, ../../sass/admin/_media-browser.scss */
.row.media .content-media .content-media-delete,
.media-browser .content-media .content-media-delete {
  color: red;
  font-weight: bold;
  position: absolute;
  top: 0em;
  right: 0em;
  font-size: 1.6em;
  line-height: 1em;
  display: block;
  width: 1em;
  height: 1em;
  text-align: center;
  background: #eee;
}
/* line 75, ../../sass/admin/_media-browser.scss */
.row.media .content-media .content-media-tick,
.media-browser .content-media .content-media-tick {
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 1em;
  height: 1em;
  text-align: center;
  background: #F00;
}

/* line 1, ../../sass/admin/_footer.scss */
footer.main {
  border-top: 1px solid;
}

/* line 1, ../../sass/admin/_login.scss */
.content.login {
  margin: 0 auto;
  padding: 5em 0;
  width: 15em;
}
/* line 6, ../../sass/admin/_login.scss */
.content.login .submit {
  float: right;
}
/* line 10, ../../sass/admin/_login.scss */
.content.login .logo {
  display: block;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
/* line 17, ../../sass/admin/_login.scss */
.content.login .logo img {
  width: 100%;
}
/* line 21, ../../sass/admin/_login.scss */
.content.login input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.4em;
}
/* line 27, ../../sass/admin/_login.scss */
.content.login label {
  display: block;
}

/* line 9, ../../sass/_tag.scss */
.management-tag .tag {
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  float: left;
  border-radius: 3px;
  padding: 0.5em 0.7em 0.6em;
  font-size: 0.8em;
  margin: 0 0.5em 0.5em 0;
  cursor: pointer;
}
/* line 19, ../../sass/_tag.scss */
.management-tag .tag:hover {
  border-color: #e6e6e6;
  background-color: white;
}
/* line 24, ../../sass/_tag.scss */
.management-tag .tag:active {
  border-color: #b3b3b3;
  background-color: #cccccc;
}

/* line 30, ../../sass/_tag.scss */
.management-tag .search {
  margin-bottom: 1em;
}

/* line 34, ../../sass/_tag.scss */
.management-tag .drop {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-animation: bubble-in 300ms 0 ease both;
  -moz-animation: bubble-in 300ms 0 ease both;
  -ms-animation: bubble-in 300ms 0 ease both;
  top: 3em;
}

/* line 3, ../../sass/admin/_feedback.scss */
.feedback-container.is-.js-dismiss.clearfix, .feedback-container.is-.js-dismiss.row, .feedback-container.is-.js-dismiss.lightbox {
  padding: 1em;
  margin: 1em 0 0;
  border: 1px solid;
}

/* line 9, ../../sass/admin/_feedback.scss */
.feedback-description {
  margin: 0;
}

/* line 13, ../../sass/admin/_feedback.scss */
.is-fixed-top .feedback-container {
  position: absolute;
  top: 1.4em;
  left: 0;
  right: 0;
}

/* line 10, ../../sass/admin/screen.scss */
body {
  background: white;
  color: gray;
  font-family: 'Open Sans', 'Arial', 'sans-serif';
}

/* line 16, ../../sass/admin/screen.scss */
.wrap-full-width {
  width: 860px;
}

/* line 93, ../../sass/admin/screen.scss */
.button.back {
  float: right;
}

/* line 97, ../../sass/admin/screen.scss */
textarea {
  height: 20em;
}

/* line 103, ../../sass/admin/screen.scss */
input[type="text"],
input[type="password"],
textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  padding: 0.6em 0.8em;
  margin: 0;
  font-weight: bold;
  color: #666666;
}
/* line 111, ../../sass/admin/screen.scss */
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  -webkit-box-shadow: 0 2px 1px #f2f2f2;
  -moz-box-shadow: 0 2px 1px #f2f2f2;
  box-shadow: 0 2px 1px #f2f2f2;
  border-color: #bfbfbf;
  color: #4d4d4d;
}

/* line 118, ../../sass/admin/screen.scss */
input.error {
  border-color: red;
}

/* line 126, ../../sass/admin/screen.scss */
label.above {
  display: block;
  margin: 0 0 1.1em;
  font-weight: 600;
  font-size: 1.1em;
}

/* line 133, ../../sass/admin/screen.scss */
label {
  color: #999999;
}

/* line 137, ../../sass/admin/screen.scss */
.nothing-yet {
  text-shadow: 0 1px 0 white;
  background: #fafafa;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 2em;
}
/* line 146, ../../sass/admin/screen.scss */
.nothing-yet p {
  color: #999999;
  cursor: default;
  font-weight: 600;
  margin: 0;
}

/* line 154, ../../sass/admin/screen.scss */
.toolbar {
  margin: 0 0 1em;
}

/* line 158, ../../sass/admin/screen.scss */
.toolbar .button {
  float: left;
  margin: 0 .5em .5em 0;
  font-size: .8em;
  padding: .5em 1em;
}

/* line 167, ../../sass/admin/screen.scss */
.content.page textarea,
.content.post textarea {
  width: 100%;
  font-size: 1em;
  font-weight: 400;
}
