/*
Syntax error: Invalid CSS after "    width:": expected pseudoclass or pseudoelement, was " 100%;"
        on line 7 of C:/xampp/htdocs/github/claireruth/sass/admin/screen.scss

Backtrace:
C:/xampp/htdocs/github/claireruth/sass/admin/screen.scss:7
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:1145:in `expected'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:1083:in `expected'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:1065:in `expr!'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:793:in `pseudo'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:677:in `simple_selector_sequence'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:639:in `_selector'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:618:in `selector'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:602:in `selector_sequence'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:527:in `ruleset'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:552:in `block_child'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:82:in `stylesheet'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/scss/parser.rb:27:in `parse'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/engine.rb:342:in `_to_tree'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:146:in `block (2 levels) in compile'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:145:in `block in compile'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/logger.rb:46:in `red'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:144:in `compile'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:124:in `compile_if_required'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:109:in `block (2 levels) in run'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `each'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `block in run'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:106:in `run'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/watcher/compiler.rb:24:in `compile'
c:/Ruby200-x64/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:92:in `sass_modified'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:85:in `sass_callback'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/watcher/watch.rb:17:in `call'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/watcher/watch.rb:17:in `run_callback'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:78:in `block (2 levels) in listen_callback'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:77:in `each'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:77:in `block in listen_callback'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:76:in `each'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:76:in `listen_callback'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-0.7.3/lib/listen/listener.rb:212:in `call'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-0.7.3/lib/listen/listener.rb:221:in `block in initialize_adapter'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `call'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `poll'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    width:\": expected pseudoclass or pseudoelement, was \" 100%;\"\A         on line 7 of C:/xampp/htdocs/github/claireruth/sass/admin/screen.scss"; }
