.media {
    float: left;
    width: 15%;
    height: 10em;
    padding: 0.3em;
    cursor: pointer;
}

.media-title {}

.media-thumb {
    display: block;
    margin-bottom: 1em;
    height: 3em;
    text-align: center;
}

.media-thumb img {
    height: inherit;
}

.media-date-published {
    display: none;
}

.media-author {
    display: none;
}

.media-delete {
    display: none;
}
