.feedback-container {
    @include box-shadow(0 1px 3px green);
    margin: 1em auto;
    border: 1px solid;
    padding: 0.5em 0.8em;
    background: lighten(green, 50%);
    border-color: lighten(green, 10%);
    color: green;
    cursor: default;

    &:hover {
		@include opacity(.5);
	}
}
