// new

.feedback-container.is-.js-dismiss.clearfix {
    padding: 1em;
    margin: 1em 0 0;
    border: 1px solid;
}

.feedback-description {
    margin: 0;
}

.is-fixed-top .feedback-container {
	position: absolute;
	top: 1.4em;
	left: 0;
	right: 0;
}
