input[type="submit"] {
    position: absolute;
    left: -999em;
    width: 1px;
    height: 1px;
}

textarea {
    height: 20em;
}

input[type="text"],
input[type="password"],
textarea {
    @include box-sizing(border-box);
    @include border-radius(3px);
    border: 1px solid darken($color-white, 15%);
    padding: 0.6em 0.8em;
    margin: 0;
    font-weight: bold;
    color: darken($color-white, 60%);

    &:focus {
        @include box-shadow(0 2px 1px darken($color-white, 5%));
        border-color: darken($color-white, 25%);
        color: darken($color-white, 70%);
    }
}

input.error {
    border-color: red;
}

input[placeholder] { 
    // color: darken($color-white, 20%);
}

label {
    color: darken($color-white, 40%);
}
