header.main { 
    border-bottom: 1px solid $color-gray-10;
    margin-bottom: 1em;
}

header.main.is-fixed-top {
    background-color: $color-white;
    z-index: 2;
}

header.main.is-fixed-top + .content {
    padding-top: 111px;
}

.inner-title-nav-user {
    padding: 0.4em 0;
    height: 1em;
}

.header-site-title {
    float: left;
    width: 20%;
    margin-right: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav-main-container {
    float: left;
}

.nav-user.nav-main-level1 {
    float: right;
    margin: 0;
}
.nav-user.nav-main-level1 .nav-user-drop {
    right: 0;
    left: auto;
}

.nav-main-level1 {
    float: left;
    position: relative;
    margin: 0 1.6em 0 0;
    padding-bottom: 1em;

    &:hover .nav-main-level1-drop {
        @include animation(drop-up 200ms ease both); 
    	display: block;
    }
}

.drop.nav-user-drop {
    display: none;
}

.nav-main-level1-drop {
    @include box-shadow(0 0 3px $color-gray-50);
    background: $color-white;
    display: none;
    position: absolute;
    width: 9em;
    border: 1px solid $color-gray-10;
    border-top: none;
    top: 1.8em;
    padding: 1em 0;
}

.nav-main-level2-link {
    display: block;
    padding: 0 1em 0.4em;
}
