.content.login {
	margin: 0 auto;
	padding: 5em 0 0;

	label {
		margin: 0 0 0.6em;
		display: block;
	}

	.button {
		float: right;
		margin: 1.1em 0 0;
	}

	.logo span {
		position: absolute;
		top: -49px;
		left: -4px;
	}

	form {
		width: 220px;
		margin: 0 auto;
	}

	.row {
		margin: 0 0 1.1em;
	}
}


.content.login {
    width: 20em;
    margin: 0 auto;
    padding: 5em 0;
}