.management-tag {

}

.management-tag .tags {

}

.management-tag .tag {
	background-color: $color-gray-10;
	border: 1px solid $color-gray-20;
	float: left;
	border-radius: 3px;
	padding: 0.5em 0.7em 0.6em;
	font-size: 0.8em;
	margin: 0 0.5em 0.5em 0;
	cursor: pointer;

	:hover {
		border-color: $color-gray-10;
		background-color: $color-white;
	}

	:active {
		border-color: $color-gray-30;
		background-color: $color-gray-20;
	}
}

.management-tag .search {
	margin-bottom: 1em;
}